
 
    body {
        font-family: Arial, sans-serif;
    }
    .container {
        width: 100px;
         
        height: 400px;
         
        
    }
    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 300px;
      
        margin: 5px 0;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px;
    }
    .container1{
        
        
        size: auto;
        height: 900px;
        align-items: center;
        
    }
    h2{
        text-align: center;
    }
 